* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #098A5B;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: #101017;
    background-position: center;
    background-size: cover;
}

#section1 {
    background-image: url(Rectangle\ 3.png);
}

#daNavbar {
    padding-top: 30px;
    padding-left: 57px;
    padding-right: 57px;
}

#daNavbar .navbar-toggler .fas.fa-bars {
    color: #098A5B; /* Replace with your desired color */
    font-size: 20px; /* Adjust the size of the icon as needed */
}

.navbar-nav {
    align-items: center;
}

.navbar .nav-item {
    margin-right: 62px;
}

.navbar .nav-link {
    color: white;
    font-weight: 700;
}

.navbar .nav-link:hover {
    color: #098A5B;
}

.navbar .nav-link:focus {
    color: #098A5B;
}

#contactButton {
    padding: 17px;
    margin-right: 56px;
    background: none;
    border: 2px solid #098A5B;
    font-weight: 700;
}

#searchIcon {
    color: #098A5B;
    font-size: 19px;
}

#container1 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container1 h2 {
    font-size: 16px;
}

#container1 h1 {
    font-weight: 700;
    font-size: 64px;
}

#gettingStartedButton {
    padding: 28px 22px;
    width: fit-content;
    background: none;
    border: 2px solid #098A5B;
    color: #098A5B;
}