* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #098A5B;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

section {
    width: 100vw;
    min-height: 100vh;
    background-color: #101017;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

#section1 {
    background-image: url(./images/hero.png);
}

#daNavbar {
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
}

#daNavbar .navbar-toggler .fas.fa-bars {
    color: #098A5B;
    font-size: 20px;
}

.navbar-nav {
    align-items: center;
}

.navbar .nav-item {
    margin-right: 20px;
}

.navbar .nav-link {
    color: white;
    font-weight: 700;
}

.navbar .nav-link:hover {
    color: #098A5B;
}

.navbar .nav-link:focus {
    color: #098A5B;
}

#contactButton {
    padding: 17px;
    margin-right: 20px;
    background: none;
    border: 2px solid #098A5B;
    font-weight: 700;
}

#searchIcon {
    color: #098A5B;
    font-size: 19px;
}

#container1 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container1 h2 {
    font-size: 16px;
}

#container1 h1 {
    font-weight: 700;
    font-size: 48px;
}

#gettingStartedButton {
    padding: 28px 22px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: fit-content;
    background: none;
    border: 2px solid #098A5B;
    color: #098A5B;
}

.hero-card {
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 14px;
    padding-right: 25px;
    background-color: #313131;
}

.hero-card-img {
    height: 60px;
}

#container2 {
    padding-top: 123px;
}

#container2 h1 {
    font-weight: 700;
    font-size: 32px;
}

#container2 h2 {
    font-weight: 600;
    font-size: 15px;
}

#section3 {
    background-color: #313131;
}

#container3 {
    padding-top: 69px;
}

#container3 h1 {
    font-weight: 700;
    font-size: 32px;
}

#container3 h2 {
    font-weight: 600;
    font-size: 15px;
}

#viewAllButton {
    padding: 17px 20px;
    width: fit-content;
    background: none;
    border: 2px solid #098A5B;
    color: #098A5B;
}